.header{	
	position: fixed;
	width: 100%;
	height: #{$headerHeight+'rem'};	
	top:0px;
	left:0px;
	box-sizing:border-box;
	border-bottom: 1px solid $split-color;
	font-size: 0px;
	padding:0px 0.2rem;
	.title{
		text-align: center;
		display: inline-block;
		vertical-align: top;
		width: 70%;
		font-size: $font-h5;
		letter-spacing: 0.02rem;
		line-height: #{$headerHeight+'rem'};
	}
	.head-handle{
		display: inline-block;
		vertical-align: top;
		height: #{$headerHeight+'rem'};
		line-height: #{$headerHeight+'rem'};
		span{
			display: inline-block;
			position: relative;
			top:-0.04rem;
			font-size: 0.16rem;
		}	
		.iconfont{
			font-size: 0.24rem;
		}						
	}
	.head-right{
		width: 15%;
		text-align: right;		

	}
	.head-left{
		width: 15%;
		text-align: left;
	}
	.head-left25{
		width: 25%;
		text-align: left;
	}	
	.hasactive{
		color:$active-color;
	}
	.inputarea{
		display: inline-block;
		vertical-align: top;
		width: 85%;
		height: 0.5rem;
		line-height: 0.5rem;
		margin-top: 0.05rem;
		background-color: #e7e8ea;
		border-radius: 0.25rem;
		padding:0px 0.25rem;
		box-sizing:border-box;
		div{
			font-size: 0px;
			height: inherit;
			line-height: inherit;			
			i{
				display: inline-block;
				vertical-align: top;
				width: 10%;
				height: inherit;
				line-height: inherit;
				text-align: left;
				font-size: 0.24rem;
			}
			input{
				display: inline-block;
				vertical-align: top;
				height: inherit;
				border:0px none;
				width: 90%;
				background-color: transparent;
				font-size: 0.2rem;
				&:active,
				&:focus{
					outline: 0px none;
					border:0px none;
				}
			}			
		}

	}

}