<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/index.css?rev=2a0db4bf0aa951402795cd4ebda3c478"/>
		<title>拉钩首页</title>		
	</head>
	<body>
		<div class="root">
			<div class="container">
				<div class="nav" href="">
					<a class="btn search" href="./search.html">
						<p class="iconfont icon-search">
							搜索职位/公司/区域
						</p>
					</a>
				</div>
				<div class="bannerarea">
					<ul class="banner-main">
						<li>
							<a href="">
								<img src="/public/img/1.jpg" alt="">
							</a>				
						</li>
						<li>
							<a href="">
								<img src="/public/img/1.jpg" alt="">
							</a>								
						</li>
					</ul>
					<div class="banner-spot">
						<ul class="">
							<li class="active"></li>
							<li></li>
						</ul>						
					</div>

				</div>
				<div class="list-block">
					<a class="employer" href="">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>
					<a class="employer" href="">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>					
					<a class="employer" href="">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>					
				</div>
			</div>
			<div class="foot">
				<a href="" class="active">
					<p class="iconfont icon-home"></p>
					<p class="text">首页</p>
				</a>
				<a href="">
					<p class="iconfont icon-msg-main"></p>
					<p class="text">消息</p>
				</a>
				<a href="">
					<p class="iconfont icon-yanzhi-main"></p>
					<p class="text">言职</p>
				</a>
				<a href="">
					<p class="iconfont icon-mine"></p>
					<p class="text">我</p>
				</a>												
			</div>
		</div>
	</body>
</html>