<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/search.css?rev=a117f3b7d0cf301e34a97a1c45e5bc90"/>
		<title>搜索页</title>		
	</head>
	<body>
		<header class="header">
			<div>
				<a class="area" href="/view/chooseArea1.html">
					<span>北京</span>
					<i class="iconfont icon-down"></i>
				</a>
				<div class="inputarea">
					<i class="iconfont icon-search"></i>
					<input type="text" placeholder="搜索职位/公司/商区">
				</div>
				<div class="handleArea">
					<button class="btn btn-cancel">取消</button>
				</div>				
			</div>
		</header>
		<section class="searchEmpty">
			<div class="contain">
				<div class="hot-search-area">
					<div class="title">
						<h5>热门搜索</h5>
					</div>
					<div class="searlist">
						<ul>
							<li>前端开发</li>
							<li>c++</li>
							<li>UI设计师</li>
							<li>java</li>
							<li>android</li>
							<li>前端</li>
							<li>ios</li>
							<li>php</li>
						</ul>
					</div>
				</div>
				<div class="search-history">
					<a href="/view/searchofresult.html" class="position-item">
						<i class="iconfont icon-clock left-icon"></i>
						<p>前端</p>
						<i class="iconfont icon-right right-icon"></i>
					</a>
					<a href="/view/searchofresult.html" class="position-item">
						<i class="iconfont icon-clock left-icon"></i>
						<p>java web</p>
						<i class="iconfont icon-right right-icon"></i>
					</a>
					<div class="clear-hostory">
						清空搜索记录
					</div>					
				</div>				
			</div>
		</section>
	</body>
</html>