<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/searchofresult.css?rev=996be5a5edb455a3b4e37a32d0ffc77f"/>
		<title>地区选择1</title>		
	</head>
	<body>
		<header class="header">
			<div>
				<a href="" class="head-handle head-left hasactive">
					<i class="iconfont icon-left"></i>
					<span>返回</span>
				</a>			
				<span class="inputarea">
					<div>
						<i class="iconfont icon-search"></i>
						<input type="text">						
					</div>
				</span>				
			</div>					
		</header>
		<section class="main">
			<div class="scroll-area">
				<div class="filter">
					<ul class="filter-item">
						<li class="active">
							<span>全北京</span>
							<i class="iconfont icon-sanjiao-down"></i>
						</li>
						<li>
							<span>职位筛选</span>
							<i class="iconfont icon-sanjiao-down"></i>
						</li>
						<li>
							<span>公司筛选</span>
							<i class="iconfont icon-sanjiao-down"></i>
						</li>												
					</ul>
					<div class="choose-item">
						<div class="choose-area">
							<div class="choose-fst commonlist">
								<div class="scroll-block">
									<ul class="chooselist">
										<li class="active">全北京</li>
										<li>朝阳区</li>
										<li>海淀区</li>
										<li>东城区</li>
										<li>西城区</li>
										<li>大兴区</li>
										<li>丰台区</li>
										<li>昌平区</li>
									</ul>
								</div>
							</div>
							<div class="choose-scond commonlist">
								<div class="scroll-block">
									<ul class="chooselist">
										<li class="active">全朝阳区</li>
										<li>望京</li>
										<li>大山子</li>
										<li>花家地</li>
										<li>来广营</li>
										<li>酒仙桥</li>
										<li>大望路</li>
										<li>三元桥</li>
									</ul>
								</div>
							</div>
							<div class="change-all">
								<i class="iconfont icon-huan"></i>
								<span>切换城市</span>
							</div>														
						</div>
						<div class="choose-position choose-common">
							<div class="choose-item">
								<div class="title">
									<p>月薪范围<i>(不限)</i></p>
								</div>
								<div class="contain linearea-size">
									<div class="line-area">
										<div class="point start">
											<div class="money">1k</div>
											<div class="movebtn"></div>
										</div>
										<span class="line">
											<span class="length"></span>
										</span>
										<div class="point end">
											<div class="money">100k</div>
											<div class="movebtn"></div>
										</div>										
									</div>
								</div>
							</div>
							<div class="choose-item">
								<div class="title">
									<p>工作经验</p>
								</div>
								<div class="contain">
									<ul class="tagarea">
										<li class="btn-item"><a href="">应届毕业生</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">3年以下</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">3-5年</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">5-10年</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">10年以上</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">经验不限</a></li>
									</ul>
								</div>
							</div>
							<div class="choose-item">
								<div class="title">
									<p>学历要求</p>
								</div>
								<div class="contain">
									<ul class="tagarea">
										<li class="btn-item"><a href="">大专</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">本科</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">硕士</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">博士</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">不要求</a></li>
									</ul>
								</div>
							</div>
							<div class="choose-item">
								<div class="title">
									<p>工作性质</p>
								</div>
								<div class="contain">
									<ul class="tagarea">
										<li class="btn-item"><a href="">全职</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">兼职</a></li>
										<li class="split"></li>
										<li class="btn-item"><a href="">实习</a></li>
									</ul>
								</div>
							</div>
							<div class="btnarea">
								<button class="btn btn-sure">确定</button>
							</div>																					
						</div>
						<div class="choose-company">
							<div class="scroll">
								<div class="choose-item">
									<div class="title">
										<p>融资阶段</p>
									</div>
									<div class="contain">
										<ul class="tagarea">
											<li class="btn-item"><a href="">未融资</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">天使轮</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">A轮</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">B轮</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">C轮</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">D轮以上</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">上市公司</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">不需要融资</a></li>					
										</ul>
									</div>
								</div>
								<div class="choose-item">
									<div class="title">
										<p>行业领域</p>
									</div>
									<div class="contain">
										<ul class="tagarea">
											<li class="btn-item active"><a href="">不限</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">移动互联网</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">电子商务</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">社交网络</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">企业服务</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">O2O</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">教育</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">游戏</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">金融</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">医疗健康</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">生活服务</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">信息安全</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">数据服务</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">广告营销</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">文化娱乐</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">硬件</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">分类信息</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">招聘</a></li>
											<li class="split"></li>
											<li class="btn-item"><a href="">其他</a></li>
										</ul>
									</div>
								</div>															
								<div class="btnarea">
									<button class="btn btn-sure">确定</button>
								</div>									
							</div>
							
						</div>
					</div>
				</div>
				<div class="list-block">
					<a class="employer" href="/view/positiondetail.html">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>
					<a class="employer" href="/view/positiondetail.html">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>					
					<a class="employer" href="/view/positiondetail.html">
						<div class="showfirst">
							<div class="company-logo">
								<img src="/public/img/11.jpg" alt="">
							</div>
							<div class="info">
								<div class="requirements">
									<div class="positon">
										<h5>前端工程师</h5>
										<i class="iconfont icon-wechat chat"></i>									
									</div>
									<span class="compensation">10-20k</span>
								</div>
								<div class="company-name">
									<p>微静天下</p>
								</div>
								<div class="info-list">
									<ul>
										<li>成都</li>
										<li>中和</li>
										<li>经验不限</li>
										<li>本科</li>
									</ul>
									<span class="time">11月16日</span>
								</div>
								<div class="info-list">
									<ul>
										<li>天使轮</li>
										<li>50-150人</li>
										<li>电子商务，移动互联网</li>
									</ul>
								</div>							
							</div>							
						</div>
						<div class="handle">
							<div class="haadle-mid">
								<p class="iconfont icon-heart notLike"></p>
								<p>不感兴趣</p>
							</div>
						</div>
					</a>					
				</div>
			</div>
		</section>
	</body>
</html>