<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/chooseArea1.css?rev=@@hash"/>
		<title>地区选择1</title>		
	</head>
	<body>
		<header class="header">
			<div>
				<a href="" class="head-handle head-left">取消</a>			
				<span class="title"></span>	
				<a href="" class="head-handle head-right">保存</a>				
			</div>							
		</header>
		<section class="choosearea1-main">
			<div class="scroll-content">
				<div class="choose-tip">
					<p>点击更改你的期望工作城市</p>
				</div>			
				<div class="area-block">
					<div class="title">
						<p>abcd</p>
					</div>
					<div class="area-container">
						<ul class="area-list">
							<li><a href="">全国</li></a>
							<li><a href="">北京</li></a>
							<li><a href="">上海</li></a>
							<li><a href="">深圳</li></a>
							<li><a href="">广州</li></a>
							<li><a href="">上海</li></a>
							<li><a href="">杭州</li></a>
							<li><a href="">成都</li></a>
							<li><a href="">南京</li></a>
							<li><a href="">武汉</li></a>
							<li><a href="">西安</li></a>
							<li><a href="">厦门</li></a>
							<li><a href="">长沙</li></a>
							<li><a href="">苏州</li></a>
							<li><a href="">天津</li></a>
						</ul>						
					</div>

				</div>
				<div class="area-block">
					<div class="title">
						<p>efg</p>
					</div>
					<div class="area-container">
						<ul class="area-list">
							<li><a href="">全国</li></a>
							<li><a href="">北京</li></a>
							<li><a href="">上海</li></a>
							<li><a href="">深圳</li></a>
							<li><a href="">广州</li></a>
							<li><a href="">上海</li></a>
							<li><a href="">杭州</li></a>
							<li><a href="">成都</li></a>
							<li><a href="">南京</li></a>
							<li><a href="">武汉</li></a>
							<li><a href="">西安</li></a>
							<li><a href="">厦门</li></a>
							<li><a href="">长沙</li></a>
							<li><a href="">苏州</li></a>
							<li><a href="">天津</li></a>
						</ul>					
					</div>
				</div>								
			</div>
		</section>
	</body>
</html>