//commons
$active-color:                              #00b38a;
//font-color
$font-big-title-color:                      #000000;
$font-mid-title-color:                      #3a3a3a;
$font-nor-title-color:                      #999999;
$font-act-color:                            #ffffff;
$font-icon-color:                           #999999;
$font-info-color:                           #999999;
$font-money-color:                          #ff7351;
//font-size
$font-h5:                                   0.2rem;
$font-sub:                                  0.16rem;
$font-mini:                                 0.12rem;
//background-color
$main-color:                                #ffffff;
$bg-white :                                 #ffffff;
$body-bg-color:                             #f0f1f5;
$title-bg-color:                            #f9f9f9;
$msg-notice-spot-bg-color:                  #ff0000;
$msg-notice2-spot-bg-color:                 #ed7b56;
$header-bg:                                 #f6f6f7;
//border-color
$full-line-color:                           #b2b2b2;
$split-color:                               #cccccc;
//padding
$row-padding:                               25px;
//size
$headerHeight:                              0.6;